@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5vh;
}
header .logo {
  -o-object-fit: contain;
     object-fit: contain;
  width: 35vh;
}
header a {
  text-transform: uppercase;
  font-weight: 600;
}
header a:hover {
  color: var(--light-green-color);
  transition: all 0.3s ease-out;
}
header nav ul {
  display: flex;
  gap: 5vh;
}
header nav ul li {
  padding: 5vh 0;
}
header nav ul li a {
  color: white;
  font-family: var(--barlow-font);
  position: relative;
}
header nav ul li a::before {
  content: "";
  position: absolute;
  left: 5px;
  top: 9px;
  width: 80%;
  height: 1px;
  border-bottom: solid 1px var(--light-green-color);
  transition: all 0.3s ease-in-out;
  transform: rotate(0);
  opacity: 0;
}
header nav ul li a:hover::before {
  opacity: 1;
  transform: rotate(-45deg);
}
header #headerButtonLinks {
  display: flex;
  align-items: center;
  gap: 5vh;
}
header #headerButtonLinks li:nth-child(1) {
  position: relative;
}
header #headerButtonLinks li:nth-child(1):nth-child(1)::after {
  content: "";
  position: absolute;
  right: -3vh;
  top: 0;
  width: 5px;
  height: 4vh;
  background-color: #131b22;
  box-shadow: inset 0px 3px 7px 0px rgba(0, 0, 0, 0.61);
}
header #headerButtonLinks li a {
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
header #headerButtonLinks li a #headerButtonLinkItems {
  position: absolute;
  left: 4.5vh;
}
header #headerButtonLinks li a #headerButtonLinkItems span {
  font-family: var(--barlow-font);
}
header #headerButtonLinks li a .buttonSvg {
  width: 10vw;
  height: 3vw;
  -o-object-fit: contain;
     object-fit: contain;
  font-family: var(--barlow-font);
  transition: all 0.3s ease-in-out;
}
header #headerButtonLinks li a:hover .buttonSvg {
  fill: var(--light-green-color);
}
header #headerButtonLinks li a:hover #headerButtonLinkItems span, header #headerButtonLinks li a:hover #headerButtonLinkItems i {
  color: #131b22;
}

main {
  /* index.html */
  /* shop.html */
}
main #UpBanner {
  display: flex;
  justify-content: space-around;
}
main #UpBanner #upBannerBackground {
  width: 100%;
  height: 140vh;
  position: absolute;
  top: 0;
  z-index: -1;
}
main #UpBanner #upBanner-Left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
main #UpBanner #upBanner-Left #upBanner-LeftTop {
  padding: 17px 0 17px 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5vh;
}
main #UpBanner #upBanner-Left #upBanner-LeftTop img {
  opacity: 0.3;
  position: absolute;
  top: 1vh;
  left: 3vh;
  z-index: -1;
}
main #UpBanner #upBanner-Left #upBanner-LeftTop h3 {
  z-index: 1;
  color: var(--light-green-color);
  font-family: var(--poppins-font);
  letter-spacing: 4px;
  padding-left: 3vh;
}
main #UpBanner #upBanner-Left #upBanner-LeftTop h1 {
  font-size: 100px;
  font-family: var(--berlin-sans-font);
  text-shadow: -1px 5px 0px rgba(69, 248, 130, 0.66);
  color: white;
}
main #UpBanner #upBanner-Left #upBanner-LeftTop p {
  color: white;
  letter-spacing: 5px;
  font-size: 26px;
  font-weight: 700;
}
main #UpBanner #upBanner-Left #upBanner-LeftTop a {
  color: white;
  position: relative;
  font-weight: bold;
  width: -moz-max-content;
  width: max-content;
}
main #UpBanner #upBanner-Left #upBanner-LeftTop a span {
  position: absolute;
  top: 3vh;
  left: 7vh;
  color: #201f2a;
  letter-spacing: 0.8px;
}
main #UpBanner #upBanner-Left #upBanner-LeftTop a .buttonSvg {
  width: 30vh;
  fill: var(--light-green-color);
  transition: all 0.3s ease-in-out;
}
main #UpBanner #upBanner-Left #upBanner-LeftTop a:hover .buttonSvg {
  fill: white;
}
main #UpBanner #upBanner-Left #upBanner-LeftBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40vw;
  padding-left: 3vh;
  cursor: pointer;
}
main #UpBanner #upBanner-Left #upBanner-LeftBottom img {
  -o-object-fit: contain;
     object-fit: contain;
  transition: all 0.3s ease-in-out;
  padding: 3vh 0;
}
main #UpBanner #upBanner-Left #upBanner-LeftBottom:hover img {
  opacity: 1; /* Opacity 1 for hovered image */
}
main #UpBanner #upBanner-Left #upBanner-LeftBottom:hover img:not(:hover) {
  opacity: 0.3; /* Decrease opacity for non-hovered images */
}
main #UpBanner #upBanner-RightImage {
  -o-object-fit: contain;
     object-fit: contain;
  width: 70vh;
}
main #UpBannerSectionWrapper {
  display: flex;
  justify-content: space-between;
}
main #UpBannerSectionWrapper #upBannerSectionWrapper-Left {
  width: 0;
  height: 0;
  border-right: 650px solid transparent;
  border-bottom: 100px solid var(--light-green-color);
}
main #UpBannerSectionWrapper #upBannerSectionWrapper-Right {
  width: 0;
  height: 0;
  border-left: 650px solid transparent;
  border-bottom: 100px solid var(--light-green-color);
}
main #CuteCards {
  background-color: #0b0e13;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
}
main #CuteCards .cuteCard {
  border: solid 1px #191e25;
  width: 90vh;
  display: flex;
  gap: 5vh;
  padding: 5vh;
  background-color: #121a23;
  background-image: -ms-linear-gradient(90deg, #0c0e12 0%, rgba(31, 41, 53, 0.36078) 100%);
  border-radius: 1vh;
}
main #CuteCards .cuteCard .cuteCard-MainImage {
  border-radius: 6px;
}
main #CuteCards .cuteCard .cuteCard-Main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}
main #CuteCards .cuteCard .cuteCard-Main .cuteCard-Top {
  display: flex;
  flex-direction: column;
}
main #CuteCards .cuteCard .cuteCard-Main .cuteCard-Top .cuteCardTopHeading {
  color: white;
  letter-spacing: 0.5px;
  font-weight: 900;
  font-size: 20px;
  transition: all 0.3s ease-out;
  letter-spacing: 0.5px;
}
main #CuteCards .cuteCard .cuteCard-Main .cuteCard-Top .cuteCardTopHeading:hover {
  color: var(--light-yellow-color);
}
main #CuteCards .cuteCard .cuteCard-Main .cuteCard-TopCenter {
  display: flex;
  align-items: center;
  gap: 2vh;
}
main #CuteCards .cuteCard .cuteCard-Main .cuteCard-TopCenter img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 5vh;
}
main #CuteCards .cuteCard .cuteCard-Main .cuteCard-TopCenter a {
  color: white;
  transition: all 0.3s ease-in-out;
  font-weight: 600;
}
main #CuteCards .cuteCard .cuteCard-Main .cuteCard-TopCenter a::after {
  content: "";
  border-right: solid 1px #9b9b9b;
  margin-left: 2vh;
}
main #CuteCards .cuteCard .cuteCard-Main .cuteCard-TopCenter a:hover {
  color: var(--light-yellow-color);
}
main #CuteCards .cuteCard .cuteCard-Main .cuteCard-Bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 1px rgba(76, 76, 76, 0.5019607843);
  padding: 14px 15px 14px 20px;
  border-radius: 6px;
}
main #CuteCards .cuteCard .cuteCard-Main .cuteCard-Bottom p {
  font-size: 18px;
}
main #CuteCards .cuteCard .cuteCard-Main .cuteCard-Bottom p span {
  color: var(--light-yellow-color);
  font-weight: 700;
}
main #CuteCards .cuteCard .cuteCard-Main .cuteCard-Bottom a {
  color: #201f2a;
  background-color: var(--light-yellow-color);
  font-size: 18px;
  border-radius: 6px;
  padding: 11px 14px;
  font-weight: 600;
  transition: all 0.3s ease-out;
}
main #CuteCards .cuteCard .cuteCard-Main .cuteCard-Bottom a:hover {
  background-color: var(--light-green-color);
}
main #KnowAboutUs {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5vh;
  gap: 10vh;
  height: 200vh;
  background-image: url("../images/know-about-us/area_bg01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}
main #KnowAboutUs .knowAboutUs-Header::after {
  margin-top: 2vh;
}
main #KnowAboutUs #knowAboutUs-Links {
  display: flex;
  gap: 10vh;
}
main #KnowAboutUs #knowAboutUs-Links a {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-family: var(--barlow-font);
  font-weight: 700;
  font-size: 20px;
  position: relative;
  bottom: 3vh;
  transition: all 0.3s ease-out;
}
main #KnowAboutUs #knowAboutUs-Links a span {
  position: absolute;
  left: 5vh;
  color: white;
}
main #KnowAboutUs #knowAboutUs-Links a .buySvgButtons {
  width: 25vh;
  height: 10vh;
  -o-object-fit: contain;
     object-fit: contain;
}
main #KnowAboutUs #knowAboutUs-Links a:hover .buyHero {
  fill: var(--light-green-color);
}
main #KnowAboutUs #knowAboutUs-Links a:hover .buyNFTs {
  fill: var(--light-yellow-color);
}
main #KnowAboutUs #NFTSixAvatars {
  display: flex;
  gap: 5vh;
  position: relative;
}
main #KnowAboutUs #NFTSixAvatars::before {
  content: "";
  position: absolute;
  width: 100%;
  border-top: solid 1px var(--light-green-color);
  margin-top: -5vh;
}
main #KnowAboutUs #NFTSixAvatars::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: solid 1px var(--light-green-color);
  margin-bottom: -5vh;
}
main #KnowAboutUs #NFTSixAvatars .NFTSixAvatars-Images {
  position: relative;
  cursor: pointer;
}
main #KnowAboutUs #NFTSixAvatars .NFTSixAvatars-Images img {
  border: solid 1px var(--light-yellow-color);
  border-radius: 50%;
  position: relative;
  transition: all 0.3s ease-out;
}
main #KnowAboutUs #NFTSixAvatars .NFTSixAvatars-Images:hover img {
  border-color: var(--light-green-color);
}
main #KnowAboutUs #NFTSixAvatars .NFTSixAvatars-Images .NFTSixAvatars-ImageShapes {
  position: absolute;
  width: 90px;
  height: 90px;
  left: -5px;
  top: -5px;
  border: solid 1px var(--light-yellow-color);
  border-radius: 50%;
  transition: all 0.3s ease-out;
}
main #KnowAboutUs #NFTSixAvatars .NFTSixAvatars-Images .NFTSixAvatars-ImageShapes:hover {
  border-color: var(--light-green-color);
}
main #KnowAboutUs #humanGame {
  display: flex;
  justify-content: space-between;
  width: 95%;
  height: 52vh;
  gap: 5vh;
  border-bottom: solid 1px rgba(69, 248, 129, 0.3647058824);
  margin-top: 5vh;
  margin-bottom: 5vh;
}
main #KnowAboutUs #humanGame #humanGame-LeftImage {
  -o-object-fit: contain;
     object-fit: contain;
  width: 80vh;
}
main #KnowAboutUs #humanGame #humanGame-Right {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
main #KnowAboutUs #humanGame #humanGame-Right #humanGame-RightTop {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
main #KnowAboutUs #humanGame #humanGame-Right #humanGame-RightTop #humanGame-Right--TopLeft {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
main #KnowAboutUs #humanGame #humanGame-Right #humanGame-RightTop #humanGame-Right--TopLeft h2 {
  font-size: 30px;
}
main #KnowAboutUs #humanGame #humanGame-Right #humanGame-RightTop #humanGame-Right--TopLeft span {
  color: var(--light-yellow-color);
  font-weight: 600;
  font-size: 20px;
}
main #KnowAboutUs #humanGame #humanGame-Right #humanGame-RightTop #humanGame-Right--TopLeft p {
  font-size: 16px;
  color: var(--light-gray-color);
}
main #KnowAboutUs #humanGame #humanGame-Right #humanGame-RightTop #humanGame-Right--TopRight {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
main #KnowAboutUs #humanGame #humanGame-Right #humanGame-RightTop #humanGame-Right--TopRight li {
  display: flex;
  align-items: center;
  gap: 2vh;
  background-image: linear-gradient(0deg, #1f2935 0%, transparent 100%, #10181f 100%);
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.21);
  padding: 7px 13px;
  border-radius: 7px;
  margin: 0 0 11px;
  font-family: var(--barlow-font);
  font-weight: 700;
  transition: 0.3s linear;
  width: 100%;
}
main #KnowAboutUs #humanGame #humanGame-Right #humanGame-RightTop #humanGame-Right--TopRight li img {
  -o-object-fit: contain;
     object-fit: contain;
}
main #KnowAboutUs #humanGame #humanGame-Right #humanGame-RightBottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
main #KnowAboutUs #humanGame #humanGame-Right #humanGame-RightBottom li {
  background-color: #1f2935;
  background-image: linear-gradient(90deg, #10181f 0%, transparent 0%, #141a20 100%);
  padding: 25px 73px;
}
main #KnowAboutUs #humanGame #humanGame-Right #humanGame-RightBottom li a {
  color: var(--light-gray-color);
  font-size: 16px;
}
main #KnowAboutUs #humanGame #humanGame-Right #humanGame-RightBottom li:hover a {
  color: var(--light-green-color);
}
main #KnowAboutUs .Gallery {
  display: flex;
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
}
main #KnowAboutUs .Gallery .galleryCards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-size: 18px;
  transition: all 0.3s ease;
}
main #KnowAboutUs .Gallery .galleryCards .galleryCard:active {
  cursor: grab;
}
main #KnowAboutUs .Gallery .galleryCards .galleryCard img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 90%;
}
main #KnowAboutUs .Gallery .galleryCards .galleryCard .galleryCard-Text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding-left: 4vh;
}
main #KnowAboutUs .Gallery .galleryCards .galleryCard .galleryCard-Text span {
  margin-right: -4vh;
}
main #OurTeamMembers {
  background-image: url("../images/our-team-members/team_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 5vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
}
main #OurTeamMembers .ourTeamMembers-Header::after {
  margin-top: 2vh;
}
main #OurTeamMembers #ourTeamMembersCards {
  display: flex;
  justify-content: space-around;
}
main #OurTeamMembers #ourTeamMembersCards .ourTeamMembersCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2vh;
  box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.17);
  border: 1px solid #27313f;
  background-color: #1c242f;
  border-radius: 12px;
  padding: 30px 25px 35px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  position: relative;
  z-index: 1;
}
main #OurTeamMembers #ourTeamMembersCards .ourTeamMembersCard::before, main #OurTeamMembers #ourTeamMembersCards .ourTeamMembersCard::after {
  content: "";
  position: absolute;
  top: -60px;
  width: 70px;
  height: 320px;
  background-color: var(--light-green-color);
  transition: all 0.3s ease-out;
  opacity: 0.55;
  z-index: -1;
}
main #OurTeamMembers #ourTeamMembersCards .ourTeamMembersCard::before {
  transform: rotate(-55deg);
  left: 0;
}
main #OurTeamMembers #ourTeamMembersCards .ourTeamMembersCard::after {
  transform: rotate(55deg);
  right: 0;
}
main #OurTeamMembers #ourTeamMembersCards .ourTeamMembersCard:hover::before, main #OurTeamMembers #ourTeamMembersCards .ourTeamMembersCard:hover::after {
  opacity: 1;
}
main #OurTeamMembers #ourTeamMembersCards .ourTeamMembersCard:hover {
  transform: translateY(-2vh);
}
main #OurTeamMembers #ourTeamMembersCards .ourTeamMembersCard a {
  color: white;
  font-weight: bold;
  font-size: 20px;
}
main #OurTeamMembers #ourTeamMembersCards .ourTeamMembersCard span {
  color: var(--light-green-color);
  font-weight: 600;
}
main #JoinTheCommunity {
  background-image: url("../images/join-the-community/video_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2vh;
  position: relative;
}
main #JoinTheCommunity h2 {
  font-size: 48px;
}
main #JoinTheCommunity h2 span {
  color: var(--light-green-color);
}
main #JoinTheCommunity p {
  font-size: 16px;
}
main #JoinTheCommunity a {
  color: white;
  position: relative;
  font-weight: bold;
  width: -moz-max-content;
  width: max-content;
}
main #JoinTheCommunity a span {
  position: absolute;
  top: 3vh;
  left: 6.5vh;
  color: #201f2a;
  letter-spacing: 0.8px;
}
main #JoinTheCommunity a .buttonSvg {
  width: 30vh;
  fill: var(--light-green-color);
  transition: all 0.3s ease-in-out;
}
main #JoinTheCommunity a:hover .buttonSvg {
  fill: white;
}
main #LookIntoRoadmaps {
  display: flex;
  justify-content: center;
  background-image: url("../images/roadmap/roadmap_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 150vh;
  padding-top: 5vh;
}
main #LookIntoRoadmaps #roadmapSeasons {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-top: 15vh;
  gap: 5vh;
}
main #LookIntoRoadmaps #roadmapSeasons h2 {
  font-size: 50px;
  font-weight: 800;
  line-height: 1em;
  letter-spacing: 3px;
}
main #LookIntoRoadmaps #roadmapSeasons p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75em;
  letter-spacing: 1px;
  color: var(--light-gray-color);
  width: 80%;
}
main #LookIntoRoadmaps #roadmapSeasons a {
  color: white;
  position: relative;
  font-weight: bold;
  width: -moz-max-content;
  width: max-content;
}
main #LookIntoRoadmaps #roadmapSeasons a span {
  position: absolute;
  top: 3vh;
  left: 8vh;
  color: #201f2a;
  letter-spacing: 0.8px;
}
main #LookIntoRoadmaps #roadmapSeasons a .buttonSvg {
  width: 30vh;
  fill: var(--light-yellow-color);
  transition: all 0.3s ease-in-out;
}
main #LookIntoRoadmaps #roadmapSeasons a:hover .buttonSvg {
  fill: var(--light-green-color);
}
main #LookIntoRoadmaps #roadmapSeasons #roadmapImage {
  width: 65vh;
  position: relative;
  top: 5vh;
  animation-name: roadmapImage;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes roadmapImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(6vh);
  }
  100% {
    transform: translateY(0);
  }
}
main #LookIntoRoadmaps #seasonCards {
  position: relative;
}
main #LookIntoRoadmaps #seasonCards::before {
  content: "";
  position: absolute;
  left: -5vh;
  border-left: solid 6px var(--light-green-color);
  height: 137vh;
  border-radius: 6px;
}
main #LookIntoRoadmaps #seasonCards .seasonCard {
  position: relative;
  padding: 45px 100px 45px 50px;
  border-radius: 8px;
  margin: 0 90px 20px 25px;
  background-color: #1b242e;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.21);
}
main #LookIntoRoadmaps #seasonCards .seasonCard:nth-child(1)::before {
  content: "";
  position: absolute;
  top: 40%;
  left: -8vh;
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-left: 30px solid var(--light-green-color);
  border-bottom: 33px solid transparent;
}
main #LookIntoRoadmaps #seasonCards .seasonCard h3 {
  font-size: 30px;
  font-weight: 800;
  line-height: 1;
  margin: 0 0 22px;
  text-transform: uppercase;
}
main #LookIntoRoadmaps #seasonCards .seasonCard ul li {
  position: relative;
  font-weight: 500;
  padding-left: 37px;
  margin: 0 0 6px;
  font-size: 500;
  font-family: var(--poppins-font);
  color: var(--light-gray-color);
}
main #LookIntoRoadmaps #seasonCards .seasonCard ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 2px;
  width: 20px;
  height: 20px;
  background-color: var(--light-green-color);
  border-radius: 50%;
  transition: all 0.3s ease-out;
}
main #LookIntoRoadmaps #seasonCards .seasonCard ul .bulletInMidnightBlue::before {
  background-color: #10161c;
}
main #TopTrending {
  background-color: #10181f;
  width: 100%;
  position: relative;
  padding: 5vh;
}
main #TopTrending .topTrending-Header {
  display: flex;
  flex-direction: row;
  gap: 1vh;
}
main #TopTrending .topTrending-Header h2 {
  font-size: 36px;
}
main #TopTrending .topTrending-Header img {
  width: 5vh;
}
main #TopTrending .topTrending-Header::after {
  width: 0;
}
main #TopTrending .topTrendingContainer {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
main #TopTrending .topTrendingContainer .BothSwiperArrows {
  display: flex;
  flex-direction: column;
  color: var(--light-gray-color);
  width: 45px;
  height: 45px;
  text-align: center;
  padding-top: 2.5vh;
  position: relative;
  top: 8vh;
  right: 20vh;
  border-radius: 6vh;
  border: solid 1px var(--light-gray-color);
  cursor: pointer;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}
main #TopTrending .topTrendingContainer .BothSwiperArrows:hover {
  color: var(--light-green-color);
  border-color: var(--light-green-color);
}
main #TopTrending .topTrendingContainer .BothSwiperArrows::after {
  content: "";
}
main #TopTrending .topTrendingContainer .BothSwiperArrows i {
  transition: transform 0.4s ease-in-out;
}
main #TopTrending .topTrendingContainer .BothSwiperArrows i:nth-child(1) {
  padding-bottom: 20px;
  padding-top: 3px;
}
main #TopTrending .topTrendingContainer .swiper-button-prev {
  position: absolute;
  right: 16vh;
  left: unset;
}
main #TopTrending .topTrendingContainer .swiper-button-next {
  position: absolute;
  right: 6vh;
}
main #TopTrending .topTrendingContainer .swiper-button-next i {
  padding-left: 2px;
}
main #TopTrending .topTrendingContainer .topTrendingCards {
  display: flex;
  gap: 4vh;
  position: relative;
  scrollbar-width: none;
  width: 100%;
}
main #TopTrending .topTrendingContainer .topTrendingCards .topTrendingCard {
  background-image: url("../images/top-trending/trendnft_img.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  padding: 3vh;
  margin: 5vh;
}
main #TopTrending .topTrendingContainer .topTrendingCards .topTrendingCard .topTrendingCard-Top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s ease-in-out;
}
main #TopTrending .topTrendingContainer .topTrendingCards .topTrendingCard .topTrendingCard-Top i {
  cursor: pointer;
}
main #TopTrending .topTrendingContainer .topTrendingCards .topTrendingCard .topTrendingCard-Top i:hover {
  color: var(--light-green-color);
}
main #TopTrending .topTrendingContainer .topTrendingCards .topTrendingCard .topTrendingCard-Top .topTrendingCard-TopLeft {
  display: flex;
  gap: 2vh;
}
main #TopTrending .topTrendingContainer .topTrendingCards .topTrendingCard .topTrendingCard-Top .topTrendingCard-TopLeft a {
  text-decoration: underline;
  color: var(--light-gray-color);
}
main #TopTrending .topTrendingContainer .topTrendingCards .topTrendingCard .topTrendingCard-Top .topTrendingCard-TopLeft .topTrendingCard-TopLeft--Text {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
main #TopTrending .topTrendingContainer .topTrendingCards .topTrendingCard .topTrendingCard-Bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 1vh;
}
main #TopTrending .topTrendingContainer .topTrendingCards .topTrendingCard .topTrendingCard-Bottom::before {
  content: "";
  position: absolute;
  top: -1.5vh;
  opacity: 0.2;
  border-top: solid 1px var(--light-gray-color);
  width: 100%;
  height: 1px;
}
main #TopTrending .topTrendingContainer .topTrendingCards .topTrendingCard .topTrendingCard-Bottom .topTrendingCard-BottomText {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
main #TopTrending .topTrendingContainer .topTrendingCards .topTrendingCard .topTrendingCard-Bottom .topTrendingCard-BottomText .topTrendingCard-BottomText--Bottom {
  display: flex;
  align-items: center;
  gap: 1vh;
}
main #TopTrending .topTrendingContainer .topTrendingCards .topTrendingCard .topTrendingCard-Bottom .topTrendingCard-BottomText .topTrendingCard-BottomText--Bottom i {
  color: var(--light-yellow-color);
}
main #TopTrending .topTrendingContainer .topTrendingCards .topTrendingCard .topTrendingCard-Bottom .topTrendingCard-BottomText .topTrendingCard-BottomText--Bottom p {
  font-size: 18px;
  font-weight: 500;
}
main #TopTrending .topTrendingContainer .topTrendingCards .topTrendingCard .topTrendingCard-Bottom .topTrendingCard-BottomText .topTrendingCard-BottomText--Bottom p span {
  margin-left: 5px;
  color: var(--light-yellow-color);
  font-size: 19px;
  font-weight: 600;
}
main #TopTrending .topTrendingContainer .topTrendingCards .topTrendingCard .topTrendingCard-Bottom a {
  color: #201f2a;
  background-color: var(--light-yellow-color);
  font-size: 18px;
  border-radius: 6px;
  padding: 11px 14px;
  font-weight: 600;
  transition: all 0.3s ease-out;
  margin-right: 5vh;
}
main #TopTrending .topTrendingContainer .topTrendingCards .topTrendingCard .topTrendingCard-Bottom a:hover {
  background-color: var(--light-green-color);
}
main #Shop-Header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  height: 50vh;
}
main #Shop-Header #shopHeaderBackground {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
main #Shop-Header #shop-HeaderText {
  z-index: 2;
}
main #Shop-Header #shop-HeaderText h2 {
  text-transform: uppercase;
  font-size: 50px;
}
main #Shop-Header #shop-HeaderText a {
  color: var(--light-green-color);
}
main #Shop-Header #shop-HeaderImage {
  width: 20vw;
}
main #Shop-Content {
  background-color: #0f161b;
  display: flex;
  justify-content: space-around;
  padding-top: 5vh;
  width: 100%;
}
main #Shop-Content #shop-Edge {
  text-transform: uppercase;
  font-family: var(--barlow-font);
  display: flex;
  flex-direction: column;
  gap: 5vh;
  font-family: var(--barlow-font);
}
main #Shop-Content #shop-Edge form {
  width: 45vh;
}
main #Shop-Content #shop-Edge form label {
  font-weight: 700;
  font-size: 18px;
}
main #Shop-Content #shop-Edge form input {
  width: 100%;
  background-color: #171d24;
  outline: none;
  border: none;
  color: var(--light-gray-color);
  padding: 20px;
  font-size: 15px;
  font-weight: 600;
}
main #Shop-Content #shop-Edge form img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 17vh;
  height: 17vh;
}
main #Shop-Content #shop-Edge form a {
  color: white;
  transition: all 0.3s ease-in-out;
  font-weight: 700;
}
main #Shop-Content #shop-Edge form .shop-EdgeHeader {
  border: solid 1px #333333;
  padding: 19px 20px;
}
main #Shop-Content #shop-Edge form .shop-EdgeHeader i {
  color: var(--light-green-color);
  margin-right: 1vh;
}
main #Shop-Content #shop-Edge form .shop-EdgeMain {
  border: solid 1px #333333;
  display: flex;
  align-items: center;
  position: relative;
}
main #Shop-Content #shop-Edge form .searchProducts i {
  position: absolute;
  right: 2.5vh;
  color: var(--light-gray-color);
  cursor: pointer;
  transition: 0.25s ease-in-out;
}
main #Shop-Content #shop-Edge form .searchProducts i:hover {
  color: var(--light-green-color);
}
main #Shop-Content #shop-Edge form .filterByPrice-Main {
  padding: 2vh 3vh 3vh 3vh;
  display: flex;
  flex-direction: column;
  background-color: #171d24;
}
main #Shop-Content #shop-Edge form .filterByPrice-Main #filterByPrice-MainText {
  display: flex;
  gap: 9vh;
  font-weight: 600;
}
main #Shop-Content #shop-Edge form .relatedProductsCards {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.5vh;
  width: 100%;
  background-color: #171d24;
}
main #Shop-Content #shop-Edge form .relatedProductsCards .relatedProductsCard {
  display: flex;
  align-items: center;
}
main #Shop-Content #shop-Edge form .relatedProductsCards .relatedProductsCard img {
  padding: 2vh;
  border-radius: 3vh;
}
main #Shop-Content #shop-Edge form .relatedProductsCards .relatedProductsCard .relatedProductsCard-Text {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
main #Shop-Content #shop-Edge form .relatedProductsCards .relatedProductsCard .relatedProductsCard-Text a:hover {
  color: var(--light-green-color);
}
main #Shop-Content #shop-Edge form .relatedProductsCards .relatedProductsCard .relatedProductsCard-Text #stars .fa-star {
  color: var(--light-yellow-color);
}
main #Shop-Content #shop-Edge form .categoriesLinks {
  flex-direction: column;
  align-items: flex-start;
  gap: 5vh;
  padding: 3vh;
  background-color: #171d24;
}
main #Shop-Content #shop-Edge form .categoriesLinks .categoriesLink {
  display: flex;
  justify-content: space-between;
  width: 100%;
  transition: 0.3s ease-in-out;
}
main #Shop-Content #shop-Edge form .categoriesLinks .categoriesLink a, main #Shop-Content #shop-Edge form .categoriesLinks .categoriesLink span {
  color: var(--light-gray-color);
}
main #Shop-Content #shop-Edge form .categoriesLinks .categoriesLink a:hover, main #Shop-Content #shop-Edge form .categoriesLinks .categoriesLink span:hover {
  color: white;
}
main #Shop-Content #shop-Main {
  display: flex;
  flex-direction: column;
  width: 70%;
}
main #Shop-Content #shop-Main #shopCards-Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main #Shop-Content #shop-Main #shopCards-Header span {
  color: var(--light-gray-color);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.5px;
}
main #Shop-Content #shop-Main #shopCards-Header select {
  background-image: linear-gradient(90deg, rgba(18, 21, 24, 0.4902) 0%, rgba(31, 41, 53, 0.36078) 100%);
  background-color: #171d24;
  color: var(--light-gray-color);
  font-size: 14px;
  border-radius: 5px;
  padding: 10px;
  position: relative;
  right: 4vh;
}
main #Shop-Content #shop-Main #shopCards-Main {
  display: flex;
  flex-wrap: wrap;
  gap: 5vh;
  margin-top: 5vh;
}
main #Shop-Content #shop-Main #shopCards-Main .shopCard {
  width: -moz-max-content;
  width: max-content;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5vh;
}
main #Shop-Content #shop-Main #shopCards-Main .shopCard i {
  position: absolute;
  right: 6.5vh;
  top: 6.5vh;
  z-index: 5;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
main #Shop-Content #shop-Main #shopCards-Main .shopCard i:hover {
  color: var(--light-green-color);
}
main #Shop-Content #shop-Main #shopCards-Main .shopCard img {
  -o-object-fit: cover;
     object-fit: cover;
}
main #Shop-Content #shop-Main #shopCards-Main .shopCard .shopCard-Background {
  width: 45vh;
  height: 50vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
main #Shop-Content #shop-Main #shopCards-Main .shopCard .shopCard-MainImage {
  width: 45vh;
  height: 40vh;
  padding: 5vh;
  z-index: 2;
  position: relative;
  left: 0;
}
main #Shop-Content #shop-Main #shopCards-Main .shopCard .shopCard-Text {
  display: flex;
  justify-content: space-between;
  z-index: 3;
  position: relative;
  left: 4vh;
  bottom: 7vh;
}
main #Shop-Content #shop-Main #shopCards-Main .shopCard .shopCard-Text .shopCard-TextLinks {
  display: flex;
  flex-direction: column;
}
main #Shop-Content #shop-Main #shopCards-Main .shopCard .shopCard-Text .shopCard-TextLinks a {
  color: white;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
}
main #Shop-Content #shop-Main #shopCards-Main .shopCard .shopCard-Text .shopCard-TextLinks a:nth-child(1) {
  font-weight: 700;
}
main #Shop-Content #shop-Main #shopCards-Main .shopCard .shopCard-Text .shopCard-TextLinks a:nth-child(2) {
  color: var(--light-gray-color);
}
main #Shop-Content #shop-Main #shopCards-Main .shopCard .shopCard-Text .shopCard-TextLinks a:hover {
  color: var(--light-green-color);
}
main #Shop-Content #shop-Main #shopCards-Main .shopCard .shopCard-Text span {
  margin-right: 8vh;
  color: var(--light-green-color);
  font-weight: 700;
  font-size: 18px;
}

footer {
  color: white;
}
footer p {
  font-weight: 600;
  font-size: 14.5px;
  color: var(--light-gray-color);
  font-weight: 400;
}
footer #FooterTop {
  background-color: #0f161b;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  padding: 4vh;
}
footer #FooterTop #footerTop-Left {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
footer #FooterTop #footerTop-Left img {
  width: 40vh;
  height: auto;
}
footer #FooterTop #footerTop-Left p {
  width: 100%;
}
footer #FooterTop #footerTop-Left p span {
  font-weight: 600;
  font-size: 16px;
  color: var(--light-green-color);
}
footer #FooterTop #footerTop-Left p i {
  margin-right: -1vh;
  font-size: 16px;
}
footer #FooterTop #footerTop-Left ul {
  display: flex;
  gap: 3vh;
}
footer #FooterTop #footerTop-Left ul li a img {
  width: 5vh;
  height: 5vh;
  -o-object-fit: contain;
     object-fit: contain;
}
footer #FooterTop #footerTop-Center {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
footer #FooterTop #footerTop-Center .footerTop-CenterLinks {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}
footer #FooterTop #footerTop-Center .footerTop-CenterLinks ul {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
footer #FooterTop #footerTop-Center .footerTop-CenterLinks ul li a {
  transition: all 0.3s ease-in-out;
  color: var(--light-gray-color);
}
footer #FooterTop #footerTop-Center .footerTop-CenterLinks ul li a:hover {
  color: var(--light-green-color);
}
footer #FooterTop #footerTop-Right {
  display: flex;
  flex-direction: column;
  gap: 4vh;
}
footer #FooterTop #footerTop-Right p {
  width: 90%;
}
footer #FooterTop #footerTop-Right form {
  position: relative;
}
footer #FooterTop #footerTop-Right form input {
  background-color: #1f2935;
  padding: 17px 100px 17px 25px;
  border: none;
  border-radius: 6px;
  height: 60px;
  font-size: 14px;
  outline: none;
  color: var(--light-gray-color);
}
footer #FooterTop #footerTop-Right form button {
  position: absolute;
  top: 0;
  right: 0;
  width: 63px;
  height: 100%;
  border: none;
  padding: 10px;
  border-radius: 6px;
  color: #1f2935;
  font-size: 28px;
  background-color: var(--light-green-color);
  padding-top: 2vh;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
footer #FooterTop #footerTop-Right form button:hover {
  background-color: var(--light-yellow-color);
}
footer #FooterBottom {
  background-color: #090d10;
  display: flex;
  justify-content: space-between;
  padding: 4vh;
}

@font-face {
  font-family: "Berlin Sans";
  src: url("../fonts/berlin-sans/berlin_sans_fb_demi_bold-webfont.woff");
  src: url("../fonts/berlin-sans/berlin_sans_fb_demi_bold-webfont.woff2");
}
:root {
  --barlow-font: "Barlow", sans-serif;
  --poppins-font: "Poppins", sans-serif;
  --berlin-sans-font: "Berlin Sans";
  --light-green-color: #45f882;
  --light-yellow-color: #ffbe18;
  --light-gray-color: #adb0bc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h2, h3, h4, h5, h6, span, a {
  font-family: var(--barlow-font);
}

p {
  font-family: var(--poppins-font);
}

#ShopPage {
  background-color: #0f161b;
}

section {
  color: white;
}

.section-Header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-Header span {
  font-weight: 700;
  font-family: var(--poppins-font);
  color: var(--light-green-color);
  font-size: 14px;
}
.section-Header h2 {
  font-weight: 900;
  font-family: var(--barlow-font);
  letter-spacing: 1px;
  color: white;
  font-size: 45px;
}
.section-Header::after {
  content: "";
  width: 65px;
  height: 5px;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 93.846% 100%, 6.154% 100%, 0% 0%);
          clip-path: polygon(0% 0%, 100% 0%, 93.846% 100%, 6.154% 100%, 0% 0%);
  background-color: var(--light-green-color);
}

#topBtn {
  position: fixed;
  right: 2vh;
  bottom: 5vh;
  background-color: var(--light-green-color);
  z-index: 10;
  width: 10vh;
  height: 10vh;
  text-align: center;
  padding-top: 3.4vh;
  border-radius: 1vh;
  cursor: pointer;
  transition: 0.3s;
}
#topBtn i {
  color: #201F2A;
  font-size: 26px;
}
#topBtn:hover {
  background-color: #ffbd3c;
}

/* Dropdown */
.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.dropdown:hover .dropbtn {
  color: var(--light-green-color);
}
.dropdown .dropbtn {
  display: flex;
  align-items: center;
  gap: 1vh;
  color: white;
  font-family: var(--barlow-font);
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
}
.dropdown .dropbtn::before {
  content: "";
  position: absolute;
  left: 5px;
  top: 34px;
  width: 80%;
  height: 1px;
  border-bottom: solid 1px var(--light-green-color);
  transition: all 0.3s ease-in-out;
  transform: rotate(0);
  opacity: 0;
}
.dropdown .dropbtn:hover::before {
  opacity: 1;
  transform: rotate(-45deg);
}
.dropdown .dropdown-content {
  display: none;
  background-color: #182029;
  width: 210px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: 0.3s;
  position: absolute;
  top: 13vh;
  left: -3vh;
  padding: 2vh;
  border: solid 1px #22292f;
}
.dropdown .dropdown-content a {
  color: white;
  padding: 12px 16px 12px 20px;
  text-decoration: none;
  display: block;
  position: relative;
  transition: 0.3s;
}
.dropdown .dropdown-content a:hover {
  color: var(--light-green-color);
  padding-left: 25px;
}
.dropdown .dropdown-content a::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  background-color: var(--light-green-color);
  transition: width 0.2s linear;
  border-radius: 0 5px 0 0;
  opacity: 0;
}
.dropdown .dropdown-content a:hover::before {
  left: 4px;
  border: solid 1px var(--light-green-color);
  opacity: 1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn i {
  transform: rotate(180deg);
}

/* This will change the width and background color of the scrollbar */
::-webkit-scrollbar {
  background-color: #232323;
}

/* This will style the handle or "thumb" of the scrollbar */
::-webkit-scrollbar-thumb {
  background-color: var(--light-green-color);
}

/* This will style the track that the handle moves along */
::-webkit-scrollbar-track {
  background-color: rgba(69, 248, 129, 0.3098039216);
}/*# sourceMappingURL=style.css.map */