header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5vh;

    .logo {
        object-fit: contain;
        width: 35vh;
    }

    a {
        text-transform: uppercase;
        font-weight: 600;

        &:hover {
            color: var(--light-green-color);
            transition: all 0.3s ease-out;
        }
    }

    nav {
        ul {
            display: flex;
            gap: 5vh;

            li {

                a {
                    color: white;
                    font-family: var(--barlow-font);

                    &::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        right: 0;
                        width: 42px;
                        height: 1px;
                        top: 50%;
                    }
                }
            }
        }
    }

    #headerButtonLinks {
        display: flex;
        align-items: center;
        gap: 5vh;

        li {

            &:nth-child(1) {
                position: relative;

                &:nth-child(1)::after {
                    content: "";
                    position: absolute;
                    right: -3vh;
                    top: 0;
                    width: 5px;
                    height: 4vh;
                    background-color: #131b22;
                    box-shadow: inset 0px 3px 7px 0px rgba(0, 0, 0, 0.61);
                }
            }

            a {
                color: white;
                position: relative;
                display: flex;
                align-items: center;


                #headerButtonLinkItems {
                    position: absolute;
                    left: 4.5vh;

                    span {
                        font-family: var(--barlow-font);
                    }
                }

                .buttonSvg {
                    width: 10vw;
                    height: 3vw;
                    object-fit: contain;
                    font-family: var(--barlow-font);
                    transition: all 0.3s ease-in-out;
                }

                &:hover {   
                    .buttonSvg {
                        fill: var(--light-green-color);
                    }

                    #headerButtonLinkItems {
                        span, i {
                            color: #131b22;
                        }
                    }
                }
            }
        }
    }
}