main {
    
    #UpBanner {
        display: flex;
        justify-content: space-around;

        #upBannerBackground {
            width: 100%;
            height: 140vh;
            position: absolute;
            top: 0;
            z-index: -1;
        }

        #upBanner-Left {
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            #upBanner-LeftTop {
                padding: 17px 0 17px 20px;
                position: relative;
                display: flex;
                flex-direction: column;
                gap: 5vh;
                
                img {
                    opacity: 0.5;
                    position: absolute;
                    top: 1vh;
                    left: 0;
                    z-index: -1;
                }

                h3 {
                    z-index: 1;
                    color: var(--light-green-color);
                    font-family: var(--poppins-font);
                    letter-spacing: 4px;
                }

                h1 {
                    font-size: 100px;
                    font-family: var(--berlin-sans-font);
                    text-shadow: -1px 5px 0px rgba(69, 248, 130, 0.66);
                    color: white;
                }

                p {
                    color: white;
                    letter-spacing: 5px;
                    font-family: var(--poppins-font);
                    font-size: 26px;
                    font-weight: 700;
                }

                a {
                    color: white;
                    font-family: var(--barlow-font);
                    position: relative;
                    font-weight: bold;

                    span {
                        position: absolute;
                        top: 3vh;
                        left: 7vh;
                        color: #201f2a;
                        letter-spacing: 0.8px;
                    }

                    .buttonSvg {
                        width: 30vh;
                        fill: var(--light-green-color);
                        transition: all 0.3s ease-in-out;
                        
                        &:hover {
                            fill: white;
                        }
                    }
                }

            }

            #upBanner-LeftBottom {
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 40vw;

                img {
                    object-fit: contain;
                }
            }
        }

        #upBanner-RightImage {
            object-fit: contain;
            width: 70vh;
        }
    }

    #UpBannerSectionWrapper {
        display: flex;

        #upBannerSectionWrapper-Left {
            background-color: var(--light-green-color);
            clip-path: inset(0 0 9% 0); /* 9% from the bottom */
        }

        #upBannerSectionWrapper-Right {
            background-color: var(--light-green-color);
            clip-path: inset(0 0 9% 0); /* 9% from the bottom */

        }
    }
}