main {
    
    #UpBanner {
        display: flex;
        justify-content: space-around;

        #upBannerBackground {
            width: 100%;
            height: 140vh;
            position: absolute;
            top: 0;
            z-index: -1;
        }

        #upBanner-Left {
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            #upBanner-LeftTop {
                padding: 17px 0 17px 20px;
                position: relative;
                display: flex;
                flex-direction: column;
                gap: 5vh;
                
                img {
                    opacity: 0.5;
                    position: absolute;
                    top: 1vh;
                    left: 0;
                    z-index: -1;
                }

                h3 {
                    z-index: 1;
                    color: var(--light-green-color);
                    font-family: var(--poppins-font);
                    letter-spacing: 4px;
                }

                h1 {
                    font-size: 100px;
                    font-family: var(--berlin-sans-font);
                    text-shadow: -1px 5px 0px rgba(69, 248, 130, 0.66);
                    color: white;
                }

                p {
                    color: white;
                    letter-spacing: 5px;
                    font-size: 26px;
                    font-weight: 700;
                }

                a {
                    color: white;
                    position: relative;
                    font-weight: bold;

                    span {
                        position: absolute;
                        top: 3vh;
                        left: 7vh;
                        color: #201f2a;
                        letter-spacing: 0.8px;
                    }

                    .buttonSvg {
                        width: 30vh;
                        fill: var(--light-green-color);
                        transition: all 0.3s ease-in-out;
                        
                        &:hover {
                            fill: white;
                        }
                    }
                }

            }

            #upBanner-LeftBottom {
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 40vw;
                cursor: pointer;

                img {
                    object-fit: contain;
                }
            }
        }

        #upBanner-RightImage {
            object-fit: contain;
            width: 70vh;
        }
    }

    #UpBannerSectionWrapper {
        display: flex;
        justify-content: space-between;

        #upBannerSectionWrapper-Left {
            width: 0;
            height: 0;
            border-right: 650px solid transparent;
            border-bottom: 100px solid var(--light-green-color);
        }
             
        #upBannerSectionWrapper-Right {
            width: 0;
            height: 0;
            border-left: 650px solid transparent;
            border-bottom: 100px solid var(--light-green-color);
        }
    }

    #CuteCards {
        background-color: #0b0e13;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 5vh;
        padding-top: 5vh;
        padding-bottom: 5vh; 

        .cuteCard {
            border: solid 1px #191e25;
            width: 80vh;
            display: flex;
            gap: 5vh;
            padding: 5vh;
            background-color: #121a23;
            background-image: -moz-linear-gradient(90deg, #0c0e12 0%, rgba(31, 41, 53, 0.36078) 100%);
            background-image: -webkit-linear-gradient(90deg, #0c0e12 0%, rgba(31, 41, 53, 0.36078) 100%);
            background-image: -ms-linear-gradient(90deg, #0c0e12 0%, rgba(31, 41, 53, 0.36078) 100%);
            border-radius: 1vh;

            .cuteCard-Main {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;

                .cuteCard-Top {
                    display: flex;
                    flex-direction: column;
    
                    .cuteCardTopHeading {
                        color: white;
                        letter-spacing: 0.5px;
                        font-weight: 900;
                    }
    
                    .cuteCard-TopInside {
                        display: flex;
                        flex-direction: column;
    
                        img {
                            object-fit: contain;
                            width: 5vh;
                        }
                    }
                }
    
                .cuteCard-Bottom {
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }

    #KnowAboutUs {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 5vh;
        gap: 10vh;
        height: 200vh;
        background-image: url('../images/know-about-us/area_bg01.jpg');


        .knowAboutUs-Header {
            gap: 3vh;
            
            &::after {
                content: "";
                width: 65px;
                height: 5px;
                clip-path: polygon(0% 0%, 100% 0%, 93.846% 100%, 6.154% 100%, 0% 0%);
                background-color: var(--light-green-color);
            }
        }


        #knowAboutUs-Links {
            display: flex;
            gap: 10vh;

            a {
                display: flex;
                align-items: center;
                position: relative;
                font-family: var(--barlow-font);
                font-weight: 700;
                
                span {
                    position: absolute;
                    left: 6vh;
                    color: white;
                }
                
                .buySvgButtons {
                    width: 25vh;
                    height: 12vh;
                    object-fit: contain;
                    transition: all 0.3s ease-out;
                }
                
                &:hover {
                    
                    .buyHero {
                        fill: var(--light-green-color);
                    }

                    .buyNFTs {
                        fill: var(--light-yellow-color);
                    }
                }
                
            }
        }
 
        #NFTSixAvatars {
            display: flex;
            gap: 5vh;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                width: 100%;
                border-top: solid 1px var(--light-green-color);
                margin-top: -5vh;
            }

            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                width: 100%;
                border-top: solid 1px var(--light-green-color);
                margin-bottom: -5vh;
            }

            img {
                border: solid 1px var(--light-yellow-color);
                border-radius: 50%;
                position: relative;
                cursor: pointer;
                transition: all 0.3s ease-out;

                &::before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    border: solid 1px var(--light-yellow-color);
                    border-radius: 50%;
                }

                &:hover {
                    border-color: var(--light-green-color);
                }
            }
        }
        
        #humanGame {
            display: flex;
            justify-content: space-between;
            width: 95%;
            height: 52vh;
            gap: 5vh;
            border-bottom: solid 1px #45f8815d;

            #humanGame-LeftImage {
                object-fit: contain;
                width: 80vh;
            }

            #humanGame-Right {
                display: flex;
                justify-content: space-around;
                flex-direction: column;

                #humanGame-RightTop {
                    display: flex;
                    width: 100%;

                    #humanGame-Right--TopLeft {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        gap: 2vh;

                        h2 {
                            font-size: 30px;
                        }

                        span {
                            color: var(--light-yellow-color);
                            font-weight: 600;
                            font-size: 20px;
                        }

                        p {
                            font-size: 16px;
                            color: var(--light-gray-color);
                            width: 85%;
                        }
                    }

                    #humanGame-Right--TopRight {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }
                }

                #humanGame-RightBottom {
                    display: flex;
                    justify-content: space-between;
                    width: 70%;

                    li {
                        background-color: #1f2935;
                        background-image: linear-gradient(90deg, #10181f 0%, transparent 0%, #141a20 100%);
                        padding: 25px 30px;

                        a {
                            color: var(--light-gray-color);
                            font-size: 16px;
                        }

                        &:hover {
                            
                            a {
                                color: var(--light-green-color);
                            }
                        }
                    }
                }
            }
        }
    }
}
