@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: 'Berlin Sans';
    src: url('../fonts/berlin-sans/berlin_sans_fb_demi_bold-webfont.woff');
    src: url('../fonts/berlin-sans/berlin_sans_fb_demi_bold-webfont.woff2');
}

:root {
    --barlow-font: 'Barlow', sans-serif;
    --poppins-font: 'Poppins', sans-serif;
    --berlin-sans-font: 'Berlin Sans';
    --light-green-color: #45f882;
    --light-yellow-color: #ffbe18;
    --light-gray-color: #adb0bc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h2, h3, h4, h5, h6, span, a {
    font-family: var(--barlow-font);
}

p {
    font-family: var(--poppins-font);
}

#ShopPage {
    background-color: #0f161b;
}

section {
    color: white;
}

.section-Header {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    span {
        font-weight: 700;
        font-family: var(--poppins-font);
        color: var(--light-green-color);
        font-size: 14px;
    }

    h2 {
        font-weight: 900;
        font-family: var(--barlow-font);
        letter-spacing: 1px;
        color: white;
        font-size: 45px;
    }

    &::after {
        content: "";
        width: 65px;
        height: 5px;
        clip-path: polygon(0% 0%, 100% 0%, 93.846% 100%, 6.154% 100%, 0% 0%);
        background-color: var(--light-green-color);
    }

}

#topBtn {
    position: fixed;
    right: 2vh;
    bottom: 5vh;
    background-color: var(--light-green-color);
    z-index: 10;
    width: 10vh;
    height: 10vh;
    text-align: center;
    padding-top: 3.4vh;
    border-radius: 1vh;
    cursor: pointer;
    transition: 0.3s;

    i {
        color: #201F2A;
        font-size: 26px;
    }

    &:hover {
        background-color: #ffbd3c;
    }
}